<div class="tutor-profile">
	<div class="row">
		<div class="col-md-8 col-sm-8">
			<h1><% if @tutor.anonymous %><%= 'Anonym rådgiver' %><% else %><%= @tutor.first_name %> <%= @tutor.last_name %><% end %></h1>
			<hr>
			<div class="row">
				<div class="col-md-2">
					Status
				</div>
				<div class="col-md-10">
					<span class="online">ONLINE</span>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-2">
					Kategorier:
				</div>
				<div class="col-md-10">
					<% @tutor.sub_categories.each do |sub| %>
						<%= link_to sub_category_path(sub) do %>
							<div class="sub_category_tag">
								<h4><%= sub.name %></h4>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-2">
					Dokumenter
				</div>
				<div class="col-md-10">
					<% @documents.each do |doc| %>
						<%= link_to 'Download dokument', download: document_path(doc) %>
					<% end %>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-2">
					Anmeldelser
				</div>
				<div class="col-md-10">
					<span style="display: inline-flex;"> <div class="average-review-rating" data-score="<%= @average_review %>"></div> <i class="average-review-count"><%= @tutor.reviews.count %> anmeldelser</i></span>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-2">
					Produkter
				</div>
				<div class="col-md-10">
					<div class="row">
						<div class="col-xs-4">
							<div class="product box">
								10 min<br>
								300 kr
							</div>
						</div>
						<div class="col-xs-4">
							<div class="product">
								20 min<br>
								500 kr
							</div>
						</div>
						<div class="col-xs-4">
							<div class="product">
								30 min<br>
								600 kr
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<% if @tutor.anonymous %>
				<%= image_tag('/anonymous.jpg') %>
			<% else %>
					<%= image_tag @tutor.profile_picture.url(:profile_picture) if @tutor.profile_picture? %>
					<%= image_tag('/default.png') if !@tutor.profile_picture %>
			<% end %>
		</div>
	</div>
</div>

<br>

<%= render('reviews/form') %>

<%= render @tutor.reviews %>
