<div class="tutor-profile">
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <h1><% if @tutor.anonymous %><%= 'Anonym rådgiver' %><% else %><%= @tutor.first_name %> <%= @tutor.last_name %><% end %></h1>
      <hr>
      <div class="row">
        <div class="col-md-2">
          Status
        </div>
        <div class="col-md-10">
          <% if @tutor.online? %>
            <span id="tutor-<%= @tutor.id %>-status" class="online">ONLINE</span>
          <% else %>
            <span id="tutor-<%= @tutor.id %>-status" class="offline">OFFLINE</span>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-2">
          Anmeldelser
        </div>
        <div class="col-md-10">
          <span style="display: inline-flex;"> <div class="average-review-rating" data-score="<%= @average_review %>"></div>
            <i>
            <%= link_to tutor_reviews_path(@tutor.id) do %>
              <%= @tutor.reviews.count %> anmeldelser
            <% end %>
            </i>
          </span>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-2">
          Kategorier:
        </div>
        <div class="col-md-10">
          <% @tutor.sub_categories.each do |sub| %>
            <%= link_to sub_category_path(sub) do %>
              <div class="sub_category_tag">
                <h4><%= sub.name %></h4>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-2">
          Dokumenter
        </div>
        <div class="col-md-10">
          <% @documents.each do |doc| %>
            <%= link_to 'Download dokument', download: document_path(doc) %>
          <% end %>
        </div>
      </div>
      <%= link_to '<i class="fa fa-volume-control-phone" aria-hidden="true"></i> Ring nu'.html_safe, raadgiver_booking_path(@tutor), class: 'booking-button' %>
    </div>
    <div class="col-md-4 col-sm-4">
      <% if @tutor.anonymous %>
        <%= image_tag('/anonymous.jpg') %>
      <% else %>
        <% if @tutor.profile_picture? %>
          <%= image_tag @tutor.profile_picture.url(:profile_picture) %>
        <% else %>
          <%= image_tag('/default.png') %>
        <% end %>
      <% end %>   
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <%= render('reviews/form') %>

    <%= render @tutor.reviews.order('created_at DESC').page(params[:page]) %>
    <div class="paginate" style="font-size: 16px">
      <%= paginate @reviews %>
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="offer">
      10 min
      300 kr
    </div>
    <div class="offer">
      20 min
      500 kr
    </div>
    <div class="offer">
      30 min
      600 kr
    </div>
  </div>
</div>
