
<h1>Tutors Categories</h1>

<table>
  <thead>
    <tr>
      <th>Tutor</th>
      <th>Sub category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutors_categories.each do |tutors_category| %>
      <tr>
        <td><%= tutors_category.tutor_id %></td>
        <td><%= tutors_category.sub_category_id %></td>
        <td><%= link_to 'Show', tutors_category %></td>
        <td><%= link_to 'Edit', edit_tutors_category_path(tutors_category) %></td>
        <td><%= link_to 'Destroy', tutors_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutors Category', new_tutors_category_path %>
