
<div class="forms">
  <div class="row">
    <%= form_for @order, url: cart_checkout_path, html: {id: 'payment-form', class: "strip-form"} do |f| %>
      <div class="col-md-6 col-sm-6">
        <h4>Payment details:</h4>
          <div class="form-row">
            <!-- Used to display form errors. -->
            <div class="payment-errors" style="color:red;"></div>
            <div id="stripe-card-element">
                    
              <strong>Card number:</strong><%= text_field_tag :card_number, nil, name: nil, 'data-stripe': "number", required: true %><br>
              <strong>Security Code on Card (CVV):</strong><%= text_field_tag :card_code, nil, name: nil, 'data-stripe': "cvc", required: true %><br>
              <strong>Card Expiration:</strong><br><%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", 'data-stripe': "exp_month", required: true} %>
              <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", 'data-stripe': "exp_year", required: true } %>
            </div>
          </div>
      </div>


      <div class="col-md-6 col-sm-6">

        <%= f.hidden_field :account_id, value: current_account.id %>
        <h4>Delivery address:</h4>
        <strong>Country:</strong><br><%= select_tag "country_code", options_from_collection_for_select(ISO3166::Country.countries.sort_by(&:name), 'un_locode', 'name'), required: true, value: "#{@customer.country_code if @customer}", style: 'width: 100%;' %><br><br>
        <div class="row">
          <div class="col-md-9 col-sm-9">
            <strong>Street:</strong><br> <%= text_field_tag :street, nil, required: true, value: "#{@customer.street if @customer}" %>
          </div>
          <div class="col-md-3 col-sm-3">
            <strong>Number:</strong><br> <input type="text" style="width: 50px;" name="street_number" placeholder="#" required value="<%= @customer.street_number if @customer %>"><br>
          </div>
        </div>
        <strong>City:</strong><br> <%= text_field_tag :city, nil, required: true, value: "#{@customer.city if @customer}" %><br>
        <strong>Company: (optional)</strong><br> <%= text_field_tag :company, nil, value: "#{@customer.company if @customer}" %><br>
        <strong>Phone: (optional)</strong><br> <%= number_field_tag :phone, nil, value: "#{@customer.phone if @customer}" %><br><br>
      </div>

      <%= f.submit 'Check Out', class: 'btn btn-primary submit' %>
    <% end %>
  </div>

</div>

