<%= form_for @booking, :url => tutor_path do |form| %>
<%#= form_for @booking do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :account_id, value: current_account.id if account_signed_in? %>

  <div class="row">
    <div class="col-md-9">
      <div class="modal-body booking-steps" id="myWizard">

       <div class="progress">
         <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="2" style="width: 33%;">
           Velg tilbud
         </div>
       </div>

       <div class="navbar" style="display: none;">
          <div class="navbar-inner">
            <ul class="nav nav-pills">
               <li class="active" ><a href="#step1" data-toggle="tab" data-step="1" id="step-1">Trinn 1</a></li>
               <li><a href="#step2" id="step-2" data-toggle="tab" data-step="2">Trinn 2</a></li>
               <li><a href="#step3" id="step-3" data-toggle="tab" data-step="3">Trinn 3</a></li>
            </ul>
          </div>
       </div>
       <div class="tab-content">
          <div class="tab-pane fade in active" id="step1">

              <div class='form-group'>

                <a class="next" id="step1next" >Fortsett</a>
                

                <%= render :partial => "modal_step_1", :locals=>{:form=>form} %>

              </div>
            <%# if account_signed_in? %>
            <%# else %>
             <span class="disabled-button" style="display: none;">LOGG INN <span class="desktop">FOR A FORTSETTE</span></span>
            <%# end %>
          </div>
          <div class="tab-pane fade" id="step2">

            <%= render :partial => "modal_step_2", :locals=>{:form=>form} %>

            <a class="btn btn-default next" id="step2next">Fortsett</a>
          </div>
          <div class="tab-pane fade" id="step3">

            <%= render :partial => "modal_step_3", :locals=>{:form=>form} %>
     
            <%= submit_tag 'BOOK', class: 'next' %>

          </div>
        </div>
      </div>
      <br>
    </div>
    <div class="col-md-3">
      <div class="booking-details">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="booking-image">
              <% if @tutor.anonymous %>
                <%= image_tag('/anonymous.jpg') %>
              <% else %>
                <% if @tutor.profile_picture? %>
                  <%= image_tag @tutor.profile_picture.url(:profile_picture) %>
                <% else %>
                  <%= image_tag('/default.png') %>
                <% end %>
              <% end %>
            </div> 
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8">  
            <%= @tutor.full_name %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">

          <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">  
            <input type="text" id="d" disabled="true" />
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8">  
            Pris + antal minutter hér
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
