<br><br><br>

<div class="row">
	<div class="col-md-6 col-sm-6">
		<h2>Velg dato</h2>
		<div class="date">
			<div class="field">
			  <%= form.text_field :start_date, class: "datepicker" %><br><br>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6">

		<h2>Velg tid</h2>

		<div class="time">
			<div class="row">
				<% @booking.time_slots.each do |t| %>
					<div class="col-md-2 col-sm-2 col-xs-2">
						<div class="time-button">
						   <label>
                  <%= check_box_tag "times[]", t, nil, class: "booking-active-hours" %><span> <%= t %></span> 

						   </label>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<br>

		<%= @tutor.full_name %>'s available tutor time:<br><br>
		<% @tutor.active_hours.each do |hours| %>
			<%= hours.start.strftime('%b %d..... %H:%M') %>-<%= hours.end.strftime('%H:%M') %><br>
		<% end %>

	</div>
</div>


<script type="text/javascript">
   var array = "<%= @tutor.bookings.map{|b| b.start_date.to_s } %>"

  $('.datepicker').datepicker({
    beforeShowDay: function(date){
      var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
      return [ array.indexOf(string) == -1 ]
    }
  });    

  $('.booking-active-hours').on('change', function(evt) {
   if($('.booking-active-hours:checked').length > 2) {
       this.checked = false;
    }
  });


</script>