<br><br><br>

<div class="row">
	<div class="col-md-6 col-sm-6">
		<h2>Velg dato</h2>
		<div class="date">
			<div class="field">

			  <%= form.text_field :start, style: 'width: 100%;' %><br><br>
				<%# <input size="16" type="text" value="2012-06-15 14:45" readonly class="form_datetime"> %>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6">

		<h2>Velg tid</h2>

		<div class="time">
			<div class="row">
				<% @booking.time_slots.each do |t| %>
					<div class="col-md-2 col-sm-2 col-xs-2">
						<div class="time-button">
						   <label>
						      <input type="checkbox" value="<%= t %>"><span> <%= t %></span>
						   </label>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<br>

		<%= @tutor.full_name %>'s available tutor time:<br><br>
		<% @tutor.active_hours.each do |hours| %>
			<%= hours.start.strftime('%m %b %y, %H:%M') %>-<%= hours.end.strftime('%H:%M') %><br>
		<% end %>

	</div>
</div>

