<div class="card">
    <div class="card-body">
        <h4 class="card-title">Vertical Tab</h4>
        <h6 class="card-subtitle">Use default tab with class <code>vtabs & tabs-vertical</code></h6>
        <!-- Nav tabs -->
        <div class="vtabs">
            <ul class="nav nav-tabs tabs-vertical" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home4" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Home</span> </a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile4" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Profile</span></a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages4" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Messages</span></a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home4" role="tabpanel">
                    <div class="p-20">
                        <h3>Best Clean Tab ever</h3>
                        <h4>you can use it with the small code</h4>
                        <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                    </div>
                </div>
                <div class="tab-pane p-20" id="profile4" role="tabpanel">2</div>
                <div class="tab-pane p-20" id="messages4" role="tabpanel">3</div>
            </div>
        </div>
    </div>
</div>
<div class="card">
  <div class="card-body">
      <h4 class="card-title">Kategorier</h4>
      <h6 class="card-subtitle">Velg en kategori</h6>
      <!-- Nav tabs -->
      <div class="vtabs">




        <ul class="nav nav-tabs tabs-vertical" role="tablist">
          <% @categories.each do |cat| %>
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#<%= cat.id %>" role="tab">
                <span class="hidden-sm-up">
                  <i class="ti-home"></i>
                </span>
                <span class="hidden-xs-down">
                  <%= cat.name %>
                </span>
              </a>
            </li>
          <% end %>
        </ul>

        <div class="tab-content">
          <% @categories.each do |cat| %>
            <div class="tab-pane active" id="<%= cat.id %>" role="tabpanel">
              <% @sub_categories.where(category_id: cat.id).each do |sub_cat| %>
                <h3><%= sub_cat.name %></h3>
              <% end %>
            </div>
          <% end %>
        </div>




      </div>
  </div>
</div>

<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">MEST POPULÆRE EMNET</h5>
                <div class="d-flex no-block align-items-center m-t-20 m-b-20">
                    <div id="sparklinedash"></div>
                    <div class="ml-auto">
                        <h2 class="text-success"><i class="ti-arrow-up"></i> <span class="counter">8659</span></h2>
                    </div>
                </div>
            </div>
            <div id="sparkline8" class="sparkchart"></div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">ANTALL MELDINGER</h5>
                <div class="d-flex no-block align-items-center m-t-20 m-b-20">
                    <div id="sparklinedash2"></div>
                    <div class="ml-auto">
                        <h2 class="text-purple"><i class="ti-arrow-up"></i> <span class="counter">7469</span></h2>
                    </div>
                </div>
            </div>
            <div id="sparkline8" class="sparkchart"></div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">ANTAL KONTOER</h5>
                <div class="d-flex no-block align-items-center m-t-20 m-b-20">
                    <div id="sparklinedash3"></div>
                    <div class="ml-auto">
                        <h2 class="text-info"><i class="ti-arrow-up"></i> <span class="counter"><%= Account.count %></span></h2>
                    </div>
                </div>
            </div>
            <div id="sparkline8" class="sparkchart"></div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">NOE ANNET</h5>
                <div class="d-flex no-block align-items-center m-t-20 m-b-20">
                    <div id="sparklinedash4"></div>
                    <div class="ml-auto">
                        <h2 class="text-danger"><i class="ti-arrow-down"></i> <span class="counter">18%</span></h2>
                    </div>
                </div>
            </div>
            <div id="sparkline8" class="sparkchart"></div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- ============================================================== -->
<!-- End Info box -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Sales Chart and browser state-->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="card-title m-b-40">Aktivitet i 2019</h5>
                        <p>Tekst hér. Tekst hér. </p>
                        <p>Tekst hér. Tekst hér. </p>
                        <p>Tekst hér. Tekst hér. </p>
                        <p>Tekst hér. Tekst hér. </p>
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div id="morris-area-chart" style="height:250px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- ============================================================== -->
<!-- End Sales Chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Review -->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">BRUKERE</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Navn</th>
                            <th>Email</th>
                            <th>Dato</th>
                            <th class="text-center">Status</th>
                            <th>Noget hér</th>
                            <th class="text-center">Noget hér</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <% @accounts.each do |acc| %>
                            <td><a href="javascript:void(0)" class="link"> Order #53431</a></td>
                            <td><%= acc.email %></td>
                            <td><span class="text-muted"><i class="fa fa-clock-o"></i> Okt 22, 2019</span></td>
                            <td class="text-center">
                                <div class="label label-table label-success">Svarte</div>
                            </td>
                            <td></td>
                            <td class="text-center">-</td>
                          <% end %>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<!--<script src="/app/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>-->
<!-- Bootstrap popper Core JavaScript-->
<!--<script src="/app/assets/node_modules/popper/popper.min.js"></script>-->
<!--<script src="/app/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!-- slimscrollbar scrollbar JavaScript-->
<!--<script src="dist/js/perfect-scrollbar.jquery.min.js"></script>-->
<!--Wave Effects-->
<!--<script src="dist/js/waves.js"></script>-->
<!--Menu sidebar-->
<!--<script src="dist/js/sidebarmenu.js"></script>-->
<!--Custom JavaScript-->
<!--<script src="dist/js/custom.min.js"></script>-->
<!-- ==============================================================-->
<!-- This page plugins-->
<!-- ==============================================================-->
<!--morris JavaScript-->
<!--<script src="/app/assets/node_modules/raphael/raphael-min.js"></script>-->
<!--<script src="/app/assets/node_modules/morrisjs/morris.min.js"></script>-->
<!--<script src="/app/assets/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>-->
<!-- Popup message jquery-->
<!--<script src="/app/assets/node_modules/toast-master/js/jquery.toast.js"></script>-->
<!-- Chart JS-->
<!--<script src="dist/js/dashboard1.js"></script>-->
<!--<script src="/app/assets/node_modules/toast-master/js/jquery.toast.js"></script>-->
