<script>
  $("#modal-window").html("<%= escape_javascript(render 'pages/modal') %>");
</script>

<div id="modal-window" class="modal" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <%= render 'pages/modal' %>
</div>

<%= link_to 'KLIKKKKKKK', sub_categories_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'button-blue'} %>

<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<h2>Bootstrap 3 Directional Slides</h2>
<h4 style="margin-bottom: 40px;">by dave rogers</h4>
<h5>Traditional Slide-In Directions</h5>

<a class='btn btn-primary btn' data-direction='top'>Top (default)</a>
<a class='btn btn-primary btn' data-direction='left'>Left</a>
<a class='btn btn-primary btn' data-direction='right'>Right</a>
<a class='btn btn-primary btn' data-direction='bottom'>Bottom</a>

<hr>
<h5>"Zany" Angled Slide-In Directions</h5>

<a class='btn btn-info btn' data-direction='top-left'>Top-Left</a>
<a class='btn btn-info btn' data-direction='top-right'>Top-Right</a>
<a class='btn btn-info btn' data-direction='bottom-left'>Bottom-Left</a>
<a class='btn btn-info btn' data-direction='bottom-right'>Bottom-right</a>

<hr>
    
<div style='margin-top: 20px;'>
    <p>StackOverflow answer: <a href="https://stackoverflow.com/a/25718426/702420" target="_blank">https://stackoverflow.com/a/25718426/702420</a></p>
    <p>SCSS Version: <a href="http://jsfiddle.net/daverogers/96L8rtuh/" target="_blank">http://jsfiddle.net/daverogers/0tgquLuh/</a></p>
</div>

<span class="home">

	<span class="row header">
		<div class="col-md-6 col-sm-6">
			<%= image_tag('/people.png', class: 'desktop', style: 'position: relative;margin-top: 80px;') %>
			<%= image_tag('/people.png', class: 'mobile', style: 'margin-top: 100px;') %>
			<h2>
				Er du i tvil?
				<br>
				Snakk med en rådgiver!
			</h2>
		</div>
		<div class="col-md-6 col-sm-6">
			<div class="side-headers">
				<div class="landing-side-text">
					157 RÅDGIVERE
				</div>


				<div class="landing-side-text">
					MANGE KATEGORIER
				</div>


				<div class="landing-side-text">
					SE HVEM SOM ER ONLINE
				</div>

				<div class="landing-side-text">
					SØK OM JOBB
				</div>
			</div>
		</div>
	</span>


	<span class="row categories">
		<% @categories.each do |cat| %>
			<div class="col-md-4 col-sm-4">
				<div class="box">
					<h2><%= cat.name %></h2>
				</div>
			</div>
		<% end %>
	</span>


	<%= render('/pages/landing_page_carousel') %>


	<div class="container">
		<span style="background: #fff;" class="landing-tutors">
	    <div class="row">
        <% @sub_categories.each do |sub_cat| %>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="card">
              <%= image_tag('/veileder.jpg', style: 'width: 100%;') %>
              <div class="card-body">

                <span class="info-box"><strong>Fornavn Etternavn</strong></span>
                <div class="info-box-display">I'm a block element.</div>
                <br>
                <%= image_tag('/stars.png') %>
                <span class="text-muted" style="font-size: 12px;">(15)</span>
              
              </div>
            </div>
          </div>
        <% end %>
	    </div>
		</span>
	</div>
</span>