<div class="field">
  <%= f.label :start %>
  <%= f.datetime_select :start %>
</div>

<div class="field">
  <%= f.label :end %>
  <%= f.datetime_select :end %>
</div>

<%= f.link_to_remove 'Delete' %>

<br>