<span class="row all_categories container">
    <div style="overflow: auto;height: 450px;padding: 10px;">
        <% @categories.each do |cat| %>
            <%= link_to category_path(cat) do %>
              <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="category_mobile"">
                        <i class="fa fa-user-o" aria-hidden="true"></i><br>
                        <span class="cat-title"> <%= cat.name %></span>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</span>





<div class="card">
  <div class="card-body">
      <center><h4 class="card-title">Kategorier</h4></center>
      <!-- Nav tabs -->
      <div class="vtabs">
        <ul class="nav nav-tabs tabs-vertical" role="tablist">
          <% @categories.each do |cat| %>
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#<%= cat.id %>" role="tab">
                <span class="hidden-sm-up">
                  <i class="ti-home"></i>
                </span>
                <span class="hidden-xs-down">
                  <%= cat.name %>
                </span>
              </a>
            </li>
          <% end %>
        </ul>

        <div class="tab-content">
          <% @categories.each do |cat| %>
            <div class="tab-pane active" id="<%= cat.id %>" role="tabpanel">
              <% @sub_categories.where(category_id: cat.id).each do |sub_cat| %>
                <h3><%= link_to sub_cat.name, sub_category_path(sub_cat) %></h3>
              <% end %>
            </div>
          <% end %>
        </div>




      </div>
  </div>
</div>
