<% @sub_categories.each do |sss| %>
<%= sss.name %> <%= TutorsCategory.where(sub_category_id: sss.id).count %><br>
<% end %>
<div class="categories">
  <div class="row">
    <% Category.all.order('name ASC').each do |cat| %>
      <div class="col-md-3 col-sm-3">
          <div data-id="<%= cat.id %>">
            <h2><%= cat.name %></h2>
          </div>
      </div>

      <div class="col-md-9 col-sm-9">
        <h4 class="card-title"><%= cat.name %></h4>
        <div class="vtabs">
          <div class="row">
            <% cat.sub_categories.left_joins(:tutors).group(:id).order('COUNT(tutors.id) DESC').each do |sub| %>
            <div class="sub-category-container">
              <span class="sub-categry-title"><%= sub.name %></span>
              <%= TutorsCategory.where(sub_category_id: sub.id).count %>
            </div>
            <% end %>
          </ul>

          <div class="tab-content">
            <% cat.sub_categories.each do |sub_cat| %>
              <div class="tab-pane" id="<%= sub_cat.name %>" role="tabpanel">
                <div class="sub-cat-name"><%= sub_cat.name %></div>
                <div class="row">
                  <% sub_cat.tutors.each do |tutor| %>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                      <div class="item">
                        <div class="pad15">
                          <%= link_to tutor_path(tutor) do %>
                            <% if tutor.anonymous %>
                              <%= image_tag('/anonymous.jpg') %>
                            <% else %>
                              <%= image_tag tutor.profile_picture.url(:profile_picture) if tutor.profile_picture? %>
                              <%= image_tag('/default.png') if !tutor.profile_picture? %>
                            <% end %>
                            <%= tutor.first_name %> <%= tutor.last_name %>
                            <%= image_tag('/stars.png') %>
                            <span class="text-muted" style="font-size: 12px;">(15)</span>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>




<span class="row all_categories container">
    <div style="overflow: auto;height: 450px;padding: 10px;">
        <% @categories.each do |cat| %>
            <%= link_to category_path(cat) do %>
              <div class="col-md-4 col-sm-4">
                    <div class="category">
                        <i class="fa fa-user-o" aria-hidden="true"></i><br>
                        <span class="cat-title"> <%= cat.name %></span>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</span>

<div class="card">
  <div class="card-body">
      <center><h4 class="card-title">Kategorier</h4></center>
      <!-- Nav tabs -->
      <div class="vtabs">
        <ul class="nav nav-tabs tabs-vertical" role="tablist">
          <% @categories.each do |cat| %>
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#<%= cat.id %>" role="tab">
                <span class="hidden-sm-up">
                  <i class="ti-home"></i>
                </span>
                <span class="hidden-xs-down">
                  <%= cat.name %>
                </span>
              </a>
            </li>
          <% end %>
        </ul>

        <div class="tab-content">
          <% @categories.each do |cat| %>
            <div class="tab-pane active" id="<%= cat.id %>" role="tabpanel">
              <% @sub_categories.where(category_id: cat.id).each do |sub_cat| %>
                <h3><%= link_to sub_cat.name, sub_category_path(sub_cat) %></h3>
              <% end %>
            </div>
          <% end %>
        </div>




      </div>
  </div>
</div>
