<nav class="navbar navbar-default desktop">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-desktop" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %><%= image_tag('/logo.png', class: 'logo') %><% end %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-desktop">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to root_path do %>
              <div>HJEM</div>
            <% end %>
        </li>
        <li>
          <%= link_to categories_path do %>
              <div>KATEGORIER</div>
            <% end %>
        </li>
        <li>
          <%= link_to rooms_show_path do %>
            <div>MELDING</div>
          <% end %>
        </li>
        <% unless tutor_signed_in? %>
          <li>
            <%= link_to new_tutor_registration_path do %>
              <div>REGISTRER NY RÅDGIVER</div>
            <% end %>
          </li>
          <li>
            <%= link_to new_account_session_path do  %>
              <div>LOGG IN</div>
            <% end %>
          </li> 
        <% else %>
          <li>
            <%= link_to destroy_tutor_session_path, method: :delete do %>
              <div>LOGG UT</div>
            <% end %>
          </li>
          <li>
            <%= link_to raadgiver_path(current_tutor) do %>
              <div>
                DIN PROFIL
              </div>
            <% end %>
          </li>
        <% end %>
        <li>
          <%#= link_to ring_path do %>
            <div class="call_button">
              <i class="fa fa-phone" aria-hidden="true"></i> RING
            </div>
          <%# end %>
        </li>
      </ul>
    </div>

  </div>
</nav>
