<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="mobile" style="padding-top: 10px;">Hjem</span>
      <image src="/veileder.jpg" type="button" class="collapsed user-image-toggle" data-toggle="collapse" data-target="#user-dropdown" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </image>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><i class="fa fa-home" aria-hidden="true"></i> Hjem</li>
        <li><i class="fa fa-user" aria-hidden="true"></i> Veiledere</li>
        <li><i class="fa fa-info-circle" aria-hidden="true"></i> Om</li>
        <li class="nav-item">
          <% unless account_signed_in? %>
            <% unless current_or_guest_account %>
              <%= link_to new_account_session_path, class: 'nav-link dropdown-toggle waves-effect waves-dark' do %>
                Logg inn
              <% end %>
              <%= link_to ny_veileder_path, class: 'nav-link dropdown-toggle waves-effect waves-dark' do %>
                Ny veileder
              <% end %>
              <%= link_to new_account_registration_path, class: 'nav-link dropdown-toggle waves-effect waves-dark' do %>
                Registrer
              <% end %>
              <%= link_to accounts_path, method: :get, class: 'nav-link dropdown-toggle waves-effect waves-dark' do %>
              Gjest bruker
              <% end %>
              <% else %>
              <div class="nav-link dropdown-toggle waves-effect waves-dark"> Velkommen gjest!</div>
            <% end %>
         <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="button">
            <%= link_to "Logg inn", new_account_session_path, class: 'button' %>
          </div>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="user-dropdown">
      <ul class="nav navbar-nav" style="float: right;">
        <li><i class="fa fa-home" aria-hidden="true"></i> Mine veiledere</li>
        <li><i class="fa fa-user" aria-hidden="true"></i> Indstillinger</li>
        <li><i class="fa fa-info-circle" aria-hidden="true"></i> Logg ut</li>
      </ul>
    </div>

  </div><!-- /.container-fluid -->
</nav>
