<nav class="navbar navbar-default mobile mobile-nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="float: left;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %> <%= image_tag('/logo.png', class: 'logo', style: 'width: 45%;') %><% end %>
      <image src="/veileder.jpg" type="button" class="collapsed user-image-toggle" data-toggle="collapse" data-target="#user-dropdown" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </image>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% unless tutor_signed_in? %>
          <li>
            <%= link_to new_tutor_registration_path do %>
              <div class="button">REGISTRER NY RÅDGIVER</div>
            <% end %>
          </li>
          <li>
            <%= link_to new_account_session_path do  %>
              <div class="button">LOGG IN</div>
            <% end %>
          </li> 
        <% else %>
          <li>
            <%= link_to destroy_tutor_session_path, method: :delete do %>
              <div class="button">LOGG UT</div>
            <% end %>
          </li>
          <li>
            <%= link_to raadgiver_path(current_tutor) do %>
              <div class="button">
                DIN PROFIL
              </div>
            <% end %>
          </li>
        <% end %>
        <li>
          <%#= link_to ring_path do %>
            <div class="call_button">
              <i class="fa fa-phone" aria-hidden="true"></i> RING
            </div>
          <%# end %>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="user-dropdown">
      <ul class="nav navbar-nav" style="float: right;">
        <li><i class="fa fa-home" aria-hidden="true"></i> Mine veiledere</li>
        <li><i class="fa fa-user" aria-hidden="true"></i> Indstillinger</li>
        <li><i class="fa fa-info-circle" aria-hidden="true"></i> Logg ut</li>
      </ul>
    </div>

  </div><!-- /.container-fluid -->
</nav>
