<nav class="navbar navbar-default desktop">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %> <%= image_tag('/logo.png', class: 'logo') %><% end %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to 'Hjem', root_path %></li>
        <li><%= link_to 'Kategorier', categories_path %></li>
        <li><%= link_to 'Melding', rooms_show_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% unless current_tutor %>
            <div class="button">
              <%= link_to 'REGISTRER NY RÅDGIVER', new_tutor_registration_path %>
            </div>
          <% end %>
        </li>
        <li>
          <% unless current_tutor %>
            <div class="button">
              <%= link_to "LOGG INN", new_account_session_path  %>
            </div>
          <% else %>
            <div class="button">
              <%= link_to 'LOGG UTT', destroy_tutor_session_path, method: :delete %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
