<!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- User Profile-->
    <div class="user-profile">
      <div class="user-pro-body">
        <div>
          <img src="/assets/users/2.jpg" alt="user-img" class="img-circle">
        </div>
        <div class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle u-dropdown link hide-menu" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false"><%= current_or_guest_account.email if account_signed_in? %>
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu animated flipInY">
            <!-- text-->
            <a href="javascript:void(0)" class="dropdown-item">
              <i class="ti-user"></i> My Profile</a>
            <!-- text-->
            <a href="javascript:void(0)" class="dropdown-item">
              <i class="ti-wallet"></i> My Balance</a>
            <!-- text-->
            <a href="javascript:void(0)" class="dropdown-item">
              <i class="ti-email"></i> Inbox</a>
            <!-- text-->
            <div class="dropdown-divider"></div>
            <!-- text-->
            <a href="javascript:void(0)" class="dropdown-item">
              <i class="ti-settings"></i> Account Setting</a>
            <!-- text-->
            <div class="dropdown-divider"></div>
            <!-- text-->
            <a href="pages-login.html" class="dropdown-item">
              <i class="fa fa-power-off"></i> Logout</a>
            <!-- text-->
          </div>
        </div>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-small-cap">--- ADMIN</li>
        <li>
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
            <i class="icon-people"></i>
            <span class="hide-menu">Brukere
                                  <span class="badge badge-pill badge-cyan ml-auto">4</span>
                              </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a>Alle</a>
            </li>
            <li>
              <a>Online</a>
            </li>
            <li>
              <a>Offline</a>
            </li>
            <li>
              <a>Gæster</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
            <i class="icon-people"></i>
            <span class="hide-menu">Tutors
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <%= link_to 'Eksempel-side', veiledere_path %>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
            <i class="ti-layout-grid2"></i>
            <span class="hide-menu">Kategorier</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <% @categories.each do |cat| %>
              <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">              <%= link_to cat.name, "javascript:void(0)" %></a>
                <ul aria-expanded="false" class="collapse">
                  <% SubCategory.where(category_id: cat.id).each do |sub| %>
                    <li>
                      <%= link_to sub.name, sub_category_path(sub) %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
        <li>
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
            <i class="ti-email"></i>
            <span class="hide-menu">Innboksen</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <%= link_to 'Chatrum', rooms_show_path %>
            </li>
            <li>
              <a>Ny melding</a>
            </li>
          </ul>
        </li>
        <li class="nav-small-cap">--- SUPPORT</li>
        <li>
        <li>
          <%= link_to destroy_account_session_path, method: :delete, class: 'hide-menuwaves-effect waves-dark' do %>
            <i class="far fa-circle text-success"></i>
            <span class="hide-menu">Logg ut</span>
            <% end %>
        </li>
        <li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>