<!DOCTYPE html>
<html>
  <head>
    <title>SnakkMed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//db.onlinewebfonts.com/c/596e78c7d8f0d85090a9af4e8e19076c?family=Agency+FB" rel="stylesheet" type="text/css"/>
    <%= action_cable_meta_tag %>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/fav.png">
    <title>SnakkMed</title>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="<%= 'background' if controller.action_name == 'mobil2' %>">
      <%= render('/layouts/header_admin') if tutor_signed_in? && current_tutor.admin? %>
      <%= render('/layouts/header_mobile', class: 'mobile') %>
      <%= render('/layouts/header', class: 'desktop') %>
      <%#= render('/layouts/sidebar') %>
      <% if notice %><p class="notice"><%= notice %></p><% end %>
      <% if alert %><p class="alert"><%= alert %></p><% end %>

      <div class="<%= action_name %> <%= 'container' unless action_name == 'landing_page' %>">
        <%= yield %>
      </div>

      <footer class="footer">
        <%= link_to 'Tutor logg inn', new_tutor_session_path unless tutor_signed_in? %>
        <hr>
        © 2019 SnakkMed.no | Viachat
      </footer>
    </div>
  </body>
</html>
