<!DOCTYPE html>
<html>
  <head>
    <title>SnakkMed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//db.onlinewebfonts.com/c/596e78c7d8f0d85090a9af4e8e19076c?family=Agency+FB" rel="stylesheet" type="text/css"/>
    <%= action_cable_meta_tag %>
    <script type="text/javascript">
      Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
    </script>

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/fav.png">
    <title>SnakkMed</title>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="<%= 'background' if controller.action_name == 'mobil2' %>">
      <%= render('/layouts/header_admin') if tutor_signed_in? && current_tutor.admin? %>
      <%= render('/layouts/header_mobile', class: 'mobile') %>
      <%= render('/layouts/header', class: 'desktop') %>
      <%#= render('/layouts/sidebar') %>
      <%= custom_bootstrap_flash %>

      <div class="<%= controller_name %> <%= 'container' unless controller_name == 'categories' %>">
        <%= yield %>
      </div>
      <%= render('/layouts/footer') %>
    </div>
  </body>
</html>


<script type="text/javascript">
  $("[data-toggle=dropdown]").prop('onclick', null).off('click');
  $("[data-toggle=dropdown]").click(function (e) {
    e.preventDefault();
    e.stopPropagation();
    let el = $(this);
    let expanded = el.attr("aria-expanded") || false;
    if (!expanded) {
        $(this).dropdown('toggle');
    }

    el.attr("aria-expanded", !expanded);
  })
</script>